block variables

doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(name="description" content=meta.description)

      title=meta.title

      style
         include ../../dist/main.css

   body
      include ./partials/preloader
      include ./partials/navigation
      main
         div(data-scroll)
            .content#content(data-template=template)
               block content

      #canvas.js-canvas

   script
      include ../../dist/main.js
