doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title VIMSΛ

      style
         include ../../dist/main.css
   body
      main
         div(data-scroll)
            .content#content(data-template)
      #canvas.js-canvas

   script(src="app/index.js")
